.head{
  position: sticky;
  width: 100%;
} 

header{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.123);
  backdrop-filter: blur(10px);
  padding: 0 30px;
  box-shadow: 0 0 15px #725CAD;
  z-index: 999;
}

header ul{
  display: flex;
  justify-content: space-between;
  width: 35%;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: rgba(31, 55, 94, 0.274);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px #725CAD;
}

header ul li{
  list-style: none;
}

header ul a{
  text-decoration: none;
  color: white;
  font-weight: 700;
  margin: 0 10px;
}

.topleft{
  display: flex;
  align-items: center;
}

.topleft img{
  width: 56px;
  margin: 0 15px;
}

.box-icons{
  display: flex;
  margin: 5%;
  gap: 40px;
}

.box-icons a{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1px;
  font-size: 20px;
  width: 31px;
  height: 31px;
  border: 2px solid #5431b3;
  text-decoration: none;
  color: lightgray;
  border-radius: 50%;
  transition: 0.3s;
}

.box-icons a:hover{
  background-color: #725CAD;
  color: black;
  box-shadow: 0 0 15px #725CAD;
}